<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
		<!-- User -->
		<typeAlias alias="User" type="com.thkong.tradedun.User.vo.User"/>
		
		<!-- Auction -->
		<typeAlias alias="ItemDetail" type="com.thkong.tradedun.Auction.vo.ItemDetail"/>
		<typeAlias alias="AuctionBoard" type="com.thkong.tradedun.Auction.vo.AuctionBoard"/>
		<typeAlias alias="AuctionBoardCharBox" type="com.thkong.tradedun.Auction.vo.AuctionBoardCharBox"/>
		<typeAlias alias="AuctionAvatarList" type="com.thkong.tradedun.Auction.vo.AuctionAvatarList"/>
		<typeAlias alias="Category" type="com.thkong.tradedun.Auction.vo.Category"/>
		<typeAlias alias="CodeTB" type="com.thkong.tradedun.Auction.vo.CodeTB"/>
		<typeAlias alias="AvatarMastar" type="com.thkong.tradedun.Auction.vo.AvatarMastar"/>
		<typeAlias alias="Avatar" type="com.thkong.tradedun.Auction.vo.Avatar"/>
		<typeAlias alias="JobGrow" type="com.thkong.tradedun.Auction.vo.JobGrow"/>
		<typeAlias alias="AuctionSalesBoard" type="com.thkong.tradedun.Auction.vo.AuctionSalesBoard"/>
		
		<!-- Board -->
		<typeAlias alias="Board" type="com.thkong.tradedun.Board.vo.Board"/>
		
	</typeAliases>
</configuration>