###########
## 캐릭터 버프강화 아바타용 템플릿
###########
<div class="row avatarList animated fadeInDown" style='font-size: 13px;'>
	<div class='col-md-12'>
		<button onclick='backSearch(${number})' class='btn btn-primary py-3 px-4'>뒤로 가기</button>
	</div>

	##################
	## 1. 캐릭터의 기타 정보
	##################

	<div class='col-md-5 pb-3'>
		<div class="text p-4 text-center" id='charInfo${number}' data-server="${server}" 
								data-charId="${characterId}" data-charName="${characterName}"
								data-jobName="${jobName}" data-jobGrowName="${jobGrowName}">
			<img class="img-c d-flex text-center align-items-end" src='https://img-api.neople.co.kr/df/servers/${server}/characters/${characterId}'/>
			<h2 class="mb-0">${characterName}</h2>
			<span>${jobGrowName}</span>
		</div> 
	</div>
	
	##################
	## 2. 캐릭터 착용 아바타 정보
	##################
	
	<div class='col-md-7 pb-3'>
		<table class="table table-condensed " >
			#foreach($index in [0..8])
				#set($equipAvatar = $wearAvatar.get($index))
				<tr id='charBoxAvatarList${number}$foreach.count' 
					data-slotName='$!equipAvatar.getSlotName()' data-itemId='$!equipAvatar.getItemId()'
					data-itemName='$!equipAvatar.getItemName()' data-optionAbility='$!equipAvatar.getOptionAbility()' 
					data-emblemName='#foreach($emblem in $equipAvatar.getEmblems())$emblem.getItemName(),#end'>
					
					<td style='width:60px;'>$equipAvatar.getSlotName()</td>
				    <td>#if($equipAvatar.getItemId())
				    	<img class="pr-3"
				    		src='https://img-api.neople.co.kr/df/items/$equipAvatar.getItemId()' title='$equipAvatar.getItemName()' alt='$equipAvatar.getItemName()'/>
				    	#end
				    	#foreach($emblem in $equipAvatar.getEmblems())
				    		## 주석 : 엠블렘 ID 매핑에 성공하여 엠블렘 id를 가져왔을때
				    		#if($emblem.getItemId())
				    			<img src='https://img-api.neople.co.kr/df/items/$!emblem.getItemId()' title='$emblem.getItemName()' alt='$emblem.getItemName()'/>
				    		## 주석 : 엠블렘 ID 매핑에 실패시 엠블렘명만 출력
				    		#else
				    			<font class='pl-2' style='font-weight: bold;'>$emblem.getItemName()</font>
				    		#end
				    	#end
			    		<font class='pl-2' style='font-weight: bold;'>$!equipAvatar.getOptionAbility()</font>
				    </td>
				</tr>
			#end
		</table>
	</div>
	
	##################
	## 3. 판매 설정
	##################
	
	<div class='col-md-5 pr-3'>
		<!-- 테스트 -->
          	<form action="#" class="request-form">
          		<h2>판매 설정</h2>
    				<div class="form-group">
    					<label for="" class="label">판매하실 금액</label>
    					<input type="text" id='resultPrice${number}' class="form-control" placeholder="판매하실 금액" onlyNumber>
    				</div>
	    			<div class="d-flex">
		              <div class="form-group ml-2">
		                <label for="" class="label">경매장에 조회된 아바타 부위</label>
		                <input type="text" class="form-control" id="" value="${availAvatar}부위" readonly>
		              </div>
		              <div class="form-group ml-2">
		                <label for="" class="label">선택된 아바타 가격</label>
		                <input type="text" class="form-control" id="auctionSumPrice" value="$numberTool.format('#,##0', $minTotalSales)" readonly>
		              </div>
              		</div>

	            <div class="form-group">
	              <input type="button" value="등록완료" class="btn btn-primary py-3 px-4">
	            </div>
			</form>
	</div>
	
	##################
	## 4. 착용한 아바타를 경매장에서 최저가 기준으로 검색 후 리스트로 나열
	##################
	
	<div class="col-md-7">
		<table class="table" >
	
	## 주석 : 모자, 머리, 얼굴, 상의 순으로 신발까지 8번 반복	
	#foreach($index in [0..8])
		#set($Avatars = $avatarList.get($index).getRows())
		#set($equipAvatar = $wearAvatar.get($index))
		
		## 주석 : 경매장에서 뽑은 첫번째(최저가) 하나만 보여줌
		<tbody id='test' class="selectAuction auctionList">
		  <tr class='trLine'>
		    <td style='width:8%;'>$equipAvatar.getSlotName()</td>
		    <td style='width:5%;'><img class="img-c d-flex text-center align-items-end" 
		    	#if($equipAvatar.getItemId())
		    		src='https://img-api.neople.co.kr/df/items/$equipAvatar.getItemId()'/>
		    	#end
		    </td>
		    ## 주석 : 경매장에 아바타가 있 다면, 경매장에 올라와 있는 최저가 한개만 뽑아 보여준다.
		    #if($Avatars.size() != 0)
			    ## 주석 : 클로압은 옵션이 옵기때문에 제외
				<td style='width:30%;'>$!Avatars.get(0).getAvatar().getAbility()</td>
			    <td style='width:27%;'>
			    	#foreach($emblem in $Avatars.get(0).getAvatar().getEmblems())
			    		<img class='pl-1' src='https://img-api.neople.co.kr/df/items/$!emblem.getItemId()' title='$emblem.getItemName()' alt='$emblem.getItemName()'/>
			    	#end
			    </td>
			    <td style='width:30%;' data-price='auctionSelectPiece'>$numberTool.format('#,##0', $Avatars.get(0).getCurrentPrice()) Gold</td>
		    #else
		    	##착용한 장비를 조회해준다.
		    	<td style='width:30%;'>$!equipAvatar.getOptionAbility()</td>
		    	<td style='width:27%;'></td>
			    <td style='width:30%;' data-price='auctionSelectPiece'> - </td>
		    #end
		  </tr>
		</tbody>
		
		## 주석 : 이 tbody는 경매장의 리스트
		<tbody class="hide" style='display:none;'>
		  #foreach($avatar in $Avatars)
		  	  ## 주석 : 각 리스트의 첫번째는 selectAuction 스타일을 가지며, 선택된다.
		  	  #if($foreach.count == 1) <tr class="auctionList selectListAuction">
		  	  #else <tr class="auctionList">
		  	  #end
			  	<td style='width:8%;'>$equipAvatar.getSlotName()</td>
			  	<td style='width:5%;'><img class="img-c d-flex text-center align-items-end" src='https://img-api.neople.co.kr/df/items/$equipAvatar.getItemId()'
			  			 title='$equipAvatar.getItemName()' alt='$equipAvatar.getItemName()'/>
			  	</td>
			    <td style='width:30%;'>$!avatar.getAvatar().getAbility()</td>
			    <td style='width:27%;'>
			    	#foreach($emblem in $avatar.getAvatar().getEmblems())
		    			<img class='pl-1' src='https://img-api.neople.co.kr/df/items/$!emblem.getItemId()' title='$emblem.getItemName()' alt='$emblem.getItemName()'/>
			    	#end
			    </td>
			    <td style='width:30%;'>$numberTool.format('#,##0', $avatar.currentPrice) Gold</td>
			  </tr>
		  #end
		</tbody>
		
	#end
	
		</table>
	</div>

</div>