#foreach($character in ${list})

<div class="col-md-3">
	<div class="car-wrap ftco-animate fadeInUp ftco-animated">
		<img class="img-c d-flex align-items-end" src='https://img-api.neople.co.kr/df/servers/bakal/characters/$character.characterId?zoom=1'/>
		<div class="text p-4 text-center">
			<h2 class="mb-0">$character.characterName</h2>
			<span>$character.jobGrowName</span>
			<p class="d-flex mb-0 d-block-c">
				<input type="hidden" id='charName$velocityCount' value="$character.characterId">
				<input type="hidden" id="charServer$velocityCount" value="${server}">
				<a onclick='avartar(${number}, $velocityCount)' class="btn btn-black btn-outline-black mr-1">선택</a> 
			</p>
		</div>
	</div>
</div>

#end