<div class="row avatarList animated fadeInDown" style='font-size: 13px;'>
	<div class='col-md-12'>
		<button onclick='backSearch(${number})' class='btn btn-primary py-3 px-4'>뒤로 가기</button>
	</div>

	<div class='col-md-4'>
		<div class="text p-4 text-center">
			<img class="img-c d-flex text-center align-items-end" src='https://img-api.neople.co.kr/df/servers/${server}/characters/${characterId}'/>
			<h2 class="mb-0">${characterName}</h2>
			<span>${jobGrowName}</span>
		</div> 
	</div>
	<div class='table-responsive col-md-8'>
		<table class="table table-condensed " >
			#foreach($index in [0..8])
				#set($equipAvatar = $wearAvatar.get($index))
				<tr>
					<td style='width:60px;'>$equipAvatar.getSlotName()</td>
				    <td><img class="pr-3" 
				    	#if($equipAvatar.getItemId())
				    		src='https://img-api.neople.co.kr/df/items/$equipAvatar.getItemId()' title='$equipAvatar.getItemName()' alt='$equipAvatar.getItemName()'/>
				    	#end
				    	#foreach($emblem in $equipAvatar.getEmblems())
				    		#if($emblem.getItemId())
				    			<img src='https://img-api.neople.co.kr/df/items/$!emblem.getItemId()' title='$emblem.getItemName()' alt='$emblem.getItemName()'/>
				    		#else
				    			<font class='pl-2' style='font-weight: bold;'>$emblem.getItemName()</font>
				    			<br>
				    		#end
				    	#end
			    		<font class='pl-2' style='font-weight: bold;'>$!equipAvatar.getOptionAbility()</font>
				    </td>
				</tr>
			#end
		</table>
	</div>
	<div class='col-md-12'>
		<!-- 테스트 -->
          	<form action="#" class="request-form">
          		<h2>판매 설정</h2>
    				<div class="form-group">
    					<label for="" class="label">판매하실 총 금액</label>
    					<input type="text" class="form-control" placeholder="판매하실 총 금액" required>
    				</div>
	    			<div class="d-flex">
		              <div class="form-group ml-2">
		                <label for="" class="label">경매장에 조회된 아바타 부위</label>
		                <input type="text" class="form-control" id="" value="${availAvatar}부위" readonly>
		              </div>
		              <div class="form-group ml-2">
		                <label for="" class="label">선택된 아바타 가격</label>
		                <input type="text" class="form-control" id="" value="$numberTool.format('#,##0', $minTotalSales)" readonly>
		              </div>
              		</div>

	            <div class="form-group">
	              <input type="button" value="등록완료" class="btn btn-primary py-3 px-4">
	            </div>
			</form>
	</div>
	
<div class="table-responsive col-md-12">
	<table class="table table-condensed " >

## 주석 : 모자, 머리, 얼굴, 상의 순으로 신발까지 8번 반복	
#foreach($index in [0..8])
	#set($Avatars = $avatarList.get($index).getRows())
	#set($equipAvatar = $wearAvatar.get($index))
	
	## 주석 : 경매장에서 뽑은 첫번째(최저가) 하나만 보여줌
	<tbody id='test' class="selectAuction auctionList">
	  <tr class='trLine'>
	    <td>$equipAvatar.getSlotId()</td>
	    <td><img class="img-c d-flex text-center align-items-end" 
	    	#if($equipAvatar.getItemId())
	    		src='https://img-api.neople.co.kr/df/items/$equipAvatar.getItemId()'/>
	    	#end
	    </td>
	    ## 주석 : 경매장에 아바타가 있 다면, 경매장에 올라와 있는 최저가 한개만 뽑아 보여준다.
	    #if($Avatars.size() != 0)
		    <td>$equipAvatar.getItemName()
		    	## 주석 : 클로압은 옵션이 옵기때문에 제외
			    <br>$!Avatars.get(0).getAvatar().getAbility()
			</td>
		    <td>
		    	#foreach($emblem in $Avatars.get(0).getAvatar().getEmblems())
		    		<img src='https://img-api.neople.co.kr/df/items/$!emblem.getItemId()' title='$emblem.getItemName()' alt='$emblem.getItemName()'/>
		    	#end
		    </td>
		    <td>$numberTool.format('#,##0', $Avatars.get(0).getCurrentPrice())</td>
	    #else
	    	##착용한 장비를 조회해준다.
	    	<td>$!equipAvatar.getItemName()
    			<br>$!equipAvatar.getOptionAbility()
	    	</td>
	    	<td></td>
		    <td>없음</td>
	    #end
	  </tr>
	</tbody>
	
	## 주석 : 이 tbody는 경매장의 리스트
	<tbody class="hide" style='display:none;'>
	  #foreach($avatar in $Avatars)
	  	  ## 주석 : 각 리스트의 첫번째는 selectAuction 스타일을 가지며, 선택된다.
	  	  #if($foreach.count == 1) <tr class="auctionList selectListAuction">
	  	  #else <tr class="auctionList">
	  	  #end
		  	<td>$equipAvatar.getSlotName()</td>
		  	<td><img class="img-c d-flex text-center align-items-end" src='https://img-api.neople.co.kr/df/items/$equipAvatar.getItemId()'/></td>
		    <td>$equipAvatar.getItemName()
		    	<br>$!avatar.getAvatar().getAbility()
		    </td>
		    <td>
		    	#foreach($emblem in $avatar.getAvatar().getEmblems())
			    		$emblem.getItemName()<br>
		    	#end
		    </td>
		    <td>$numberTool.format('#,##0', $avatar.currentPrice)</td>
		  </tr>
	  #end
	</tbody>
	
#end

	</table>
</div>

</div>