<div class="row">
<div class='col-md-12'>
	<button onclick='backSearch(${number})' class='btn btn-primary py-3 px-4'>뒤로 가기</button>
</div>
#foreach($character in ${list})

<div class="col-md-3">
	<div class="car-wrap ftco-animate fadeInUp ftco-animated">
		<img class="img-c d-flex align-items-end" src='https://img-api.neople.co.kr/df/servers/${server}/characters/$character.characterId?zoom=1'/>
		<div class="text p-4 text-center">
			<h2 class="mb-0">$character.characterName</h2>
			<span>$character.jobGrowName</span>
			<p class="d-flex mb-0 d-block-c">
				<input type="hidden" id='charName$velocityCount' value="$character.characterId">
				<input type="hidden" id="charServer$velocityCount" value="${server}">
				<a onclick='avartar(${number}, "${server}", "$character.characterId", "wear")' class="btn btn-black btn-outline-black mr-1">가져오기</a>
				##<a onclick='avartar(${number}, "${server}", "$character.characterId", "coordi")' class="btn btn-black btn-outline-black mr-1">클론압 </a>
			</p>
		</div>
	</div>
</div>

#end

</div>