<div class="row">
	<div class='col-md-3'>
		<div class="text p-4 text-center">
			<img class="img-c d-flex text-center align-items-end" src='https://img-api.neople.co.kr/df/servers/bakal/characters/$wearAvatar.characterId'/>
			<h2 class="mb-0">$wearAvatar.characterName</h2>
			<span>$wearAvatar.jobGrowName</span>
		</div> 
	</div>
	<div class='col-md-9'>
	</div>

<div class="table-responsive col-md-12">
	<table class="table table-condensed " >
	
#foreach($index in [0..8])
	#set($Avatars = $avatarList.get($index).getRows())
	
	## 주석 : 경매장에서 뽑은 첫번째(최저가) 하나만 보여줌
	<tbody id='test' class="selectAuction auctionList">
	  <tr class='trLine'>
	    <td>$wearAvatar.getAvatar().get($index).getSlotName()</td>
	    
	    ## 주석 : 경매장 아바타가 하나도 없다면 조회한 아바타의 옵션을 보여줌
	    #if($Avatars.size() != 0)
	    <td>$wearAvatar.getAvatar().get($index).getItemName()<br>
	    	($Avatars.get(0).getAvatar().getAbility())
	    </td>
		    <td>
		    	#foreach($emblem in $Avatars.get(0).getAvatar().getEmblems())
		    		$emblem.getItemName()<br>
		    	#end
		    </td>
		    <td>$Avatars.get(0).getCurrentPrice()</td>
	    #else
	    	<td>$wearAvatar.getAvatar().get($index).getItemName()</td>
		    <td></td>
		    <td></td>
	    #end
	  </tr>
	</tbody>
	
	## 주석 : 이 tbody는 경매장의 리스트
	<tbody class="hide" style='display:none;'>
	  #foreach($avatar in $Avatars)
	  <tr class="auctionList">
	  	<td>$wearAvatar.getAvatar().get($index).getSlotName()</td>
	    <td>$wearAvatar.getAvatar().get($index).getItemName()</td>
	    <td>
	    	#foreach($emblem in $avatar.getAvatar().getEmblems())
		    		$emblem.getItemName()<br>
	    	#end
	    </td>
	    <td>$avatar.currentPrice</td>
	  </tr>
	  #end
	</tbody>
	
#end

	</table>
</div>

</div>