###########
## 판매글 리스트
###########
#foreach($board in $boardList)
	<div class="col-md-3">
		<div class="car-wrap animated fadeInDown">
			<div class="img d-flex align-items-end" style="background-image: url(/upImage/CharacterImages/$board.imageName);">
				<div class="price-wrap d-flex">
					<span class="rate">$numberTool.format('#,##0', $board.totalPrice)</span>
					<p class="from-day">
						<span>-</span>
						<span>/Gold</span>
					</p>
				</div>
			</div>
			<div class="text p-4 text-center">
				<h2 class="mb-0"><a href="/auction/auctionBoardDetail?boardNo=$board.boardNo&charBox=$board.charBox">$board.comment</a></h2>
				<span>$board.jobGrowName | $board.categoryName</span>
				<p class="d-flex mb-0 d-block">
					<a href="" class="btn btn-black btn-outline-black mr-1">스크랩</a> 
					<a href="/auction/auctionBoardDetail?boardNo=$board.boardNo&charBox=$board.charBox" class="btn btn-black btn-outline-black ml-1">상세보기</a>
				</p>
			</div>
		</div>
	</div>
#end