<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thkong.tradedun.Auction.dao.auctionDao">

	<select id="selectItemDetailList" resultType="ItemDetail">
		SELECT itemId, itemName, itemRarity, itemType, itemTypeDetail, itemAvailableLevel, itemRarityColor
		FROM  ItemDetail
	</select>
	
	<select id='selectBoardNo' resultType="Int">
		SELECT IFNULL(max(boardNo)+1,1) AS boardNo FROM AuctionBoard
	</select>
	
	<insert id='insertAuctionBoard' parameterType="AuctionBoard">
		INSERT INTO AuctionBoard(boardNo, subject, userNo, createDT)
		VALUES(#{boardNo}, #{subject}, #{userNo}, #{createDT})
	</insert>
	
	<insert id='insertAuctionBoardCharBox' parameterType="AuctionBoardCharBox">
		INSERT INTO AuctionBoardCharBox(boardNo, charBox, charId, totalPrice, saleYN, category, comment, createDT)
		VALUES(#{boardNo}, #{charBox}, #{charId}, #{totalPrice}, #{saleYN}, #{category}, #{comment}, #{createDT})
	</insert>
	
</mapper>