<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thkong.tradedun.Board.dao.boardDao">
	
	<select id='selectBoardNo' resultType="Int" parameterType="String">
		SELECT IFNULL(max(boardNo)+1,1) AS boardNo 
		FROM Board
		WHERE categoryCode = #{categoryCode}
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO Board (boardNo, categoryCode, userNo, title, contents, createDT, modifyDT, deleteDT)
		VALUES(#{boardNo}, #{categoryCode}, #{userNo}, #{title}, #{contents}, NOW(), null, null)
	</insert>
	
	<select id="selectBoardCategoryList" resultType="Category">
		SELECT categoryCode, categoryKind, categoryName
		FROM Category
		WHERE categoryKind = 'board'
		AND deleteDT IS NULL
		ORDER BY sort
	</select>
	
	<select id="selectBoardList" resultType="Board">
		SELECT boardNo, userNo, categoryCode, title, contents, createDT
		FROM Board
		WHERE deleteDT IS NULL
		AND categoryCode = 'B_notice'
		ORDER BY boardNo DESC
	</select>
	
	<select id="selectBoard" parameterType="Board" resultType="Board">
		SELECT boardNo, categoryCode, userNo, title, contents, createDT, modifyDT
		FROM Board
		WHERE deleteDT IS NULL
		AND boardNo = #{boardNo}
		AND categoryCode = #{categoryCode}
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE Board SET title = #{title}, contents = #{contents}, modifyDT = NOW()
		WHERE boardNo = #{boardNo}
		AND categoryCode = #{categoryCode}
	</update>
	
</mapper>