<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thkong.tradedun.Common.dao.LogsDao">
	
	<!-- 레어아바타 차수 검색 -->
	<insert id="insertRareAvatarSearch" parameterType="AvatarMastar">
		INSERT INTO Logs (code, createDT, log1, log2)
		VALUES('rareAvatarSearch', NOW(), #{jobId}, #{categoryCode})
	</insert>

	<!-- 쇼룸 아바타 검색) 복붙한 원본 문자열 -->
	<insert id="insertShowRoomAvatarSearch" parameterType="Map">
		INSERT INTO Logs (code, createDT, log1, log2)
		VALUES('showRoomAvatarSearch', NOW(), #{jobId}, #{showroom})
	</insert>
	
	<!-- 유저 로그인 로그 -->
	<insert id="insertUserLoginLog" parameterType="Map">
		INSERT INTO Logs (code, createDT, log1, log2, log3, log4, log5)
		VALUES('userLogin', NOW(), #{mapper}, #{host}, #{user-agent}, #{referer}, #{cookie})
	</insert>
	
</mapper>